car1N1448.m
questao1.log
questao1.raw
m.txt
idt.txt
vdt.txt
output3.png
Draft1.log
Draft1.op.raw
Draft1.raw
questao1.plt
questao2_meia_onda.log
questao2_meia_onda.net
questao2_meia_onda.op.raw
questao2_meia_onda.raw
questao3.log
questao3.op.raw
questao3.plt
questao3.raw
__pycache__/questao1.cpython-39.pyc
